<header >
    竞价{{}}人
    <div class="header-left">
        <button  class="btn-style btn-4" ng-click="return()">返回</button>
    </div>
    <div class="header-right">
        <button  class="btn btn-style btn-4" ng-click="enter_list()" >列表</button>
    </div>
</header>
<div class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="messages in Messages">
            <h3 style="height: 30px">￥{{messages.price}} {{messages.count}}人</h3>
        </li>
    </ul>
</div>