<header id="Registration">
    报名{{nums}}人
    <div class="header-left">
        <button  class="btn-style btn-4" ng-click="return_order()">返回</button>
    </div>
    <div class="header-right" ng-switch="buttons">
        <button  class="btn btn-style btn-4" ng-click="start_order()" ng-disabled="{{button_states}}" ng-switch-when=true>开始</button>
        <button  class="btn btn-style btn-4" ng-click="start_order()" ng-disabled="{{button_states}}" ng-switch-when=false>结束</button>
    </div>
</header>
<div class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="messages in Messages">
            <h3 style="height: 30px">姓名：  {{messages.message}}</h3>
            <p>电话号码：{{messages.phone}}</p>
        </li>
    </ul>
</div>
<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li><a><br/>报名</a></li>
        <li ng-click="bidding()"><a><br/>竞价</a></li>
    </ul>
</footer>
